.App {
  width: 90%;
  margin: 0 auto ;
  text-align: center;
}

.row{
  height: 60px;
  margin: 15px 20px;
  padding-top: 25px;
  align-items: center;
  font-size: 15px;
}
img{
  max-width: 500px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
select{
  text-transform: capitalize;
  padding: 10px 20px;
  border: none;
  background: cornflowerblue;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
}
select:focus{
  border: 0px solid white;
}
option{
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background: cornflowerblue;
  color: #fff;
  font-weight: 700;
}
input{
  border: none;
  background-color: #cacaca;
  padding: 10px 10px;
  border-radius: 13px;
}
input:focus{
  border: 0px solid white;
}
p,label{
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
}
h2{
  font-weight: 600;
  font-style: italic;
}
.card{
  width: 40%;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 0px black;
  border-radius: 16px;
}